.timeline {
  width: 65%;
  position: relative;
  margin-left: 17.5%;
}

.timeline-subtitle {
  font-weight: 300;
}

.timeline-content {
  position: relative;
  margin: 20px 0;
  padding: 20px;
}

.timeline-content .timeline-time {
  position: absolute;
  bottom: 0px;
}

@media (min-width: 700px) {
  .timeline-content {
    width: 50%;
    clear: both;
  }

  .timeline-content:nth-child(odd) {
    float: left;
    transform: translatex(-65px);
    text-align: right;
  }

  .timeline-content:nth-child(odd) > .timeline-time {
    right: 10px;
  }

  .timeline-content:nth-child(even) {
    float: right;
    transform: translateX(65px);
    text-align: left;
  }

  .timeline::before {
    content: "";
    width: 1px;
    height: 100%;
    background: var(--fg);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-content::before {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--fg);
    position: absolute;
    top: 50%;
    right: -33px;
    border-radius: 50%;
  }

  .timeline-content:nth-child(even)::before {
    left: -33px;
  }
}
